@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300&display=swap');

input{
  pointer-events: all;
}

body{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  box-sizing: border-box;
}


.common-Props{
  max-width: 1080px;
  margin: 0 auto;
}

.slick-next::before,
.slick-perv::before{
  color: gainsboro; 
}

.slick-color{
  color: black;
}